
/*---------------------*/
/*   GENERAL ELEMENTS  */
/*---------------------*/

body {
    font-family: 'Droid Sans', sans-serif;
    font-size: 1rem;
    width: 1800px;
    background-color: #14076f;
    color: #FFFFFF;
    padding: 55px;
    padding-top: 100px;
    text-align: center;
}

.cf:before,
.cf:after{
    content:"";
    display:table;
}
.cf:after {
    clear: both;
}

h1{
    font-size: 2.5rem;
    padding-bottom: 20px;
}
h2{
    font-size: 1.5rem;
    padding: 30px;
}
form input{
    margin: 10px;
}
.invisible {
    display: none;
    
}
.horizontal ul {
    display:inline;
}
.horizontal ul li{
    display:inline;
}
.vertical {
}

img{
    width: 150px;
    height: auto;
}

img:hover {
    transform: scale(1.75);
}


#actions {
    padding: 50px;
    padding-left: 285px;
    width: 910px;

}

#victory {
    padding-left: 10px;
    padding-right: 10px;
    float: left;
    border-style: solid;
    border-color: #00ff21;
}

#victory li{
    padding-bottom: 25px;
}

#middlefloat {
    float:left;
}

#actions li{
    display: inline;
}

#amounts {
    padding-left: 10px;
    float:left;
}

#amounts li {
    padding-top: 10px;
}


#treasure li{
    padding-bottom: 25px;
}

#treasure {
    float: right;
    padding-right: 10px;
}

#turn span {
    padding-right: 1000px;
}

#hand {
    padding-left: 290px;
}

.away img{
    width: 100px;
    padding: 45px;
    padding-right: 20px;
}

#trash {
    padding-left: 200px;
}

#chatbox {
    background-color: #ffd800;
    width: 400px;
}

#connect {
    float:left;
    padding-left: 30px;
    padding-top: 10px;
}